<div id="legal-anchor" style="border: 1px solid gray; border-radius: 3px; padding: 10px 10px 0 10px;">
    <p>Beta apps are pre-release builds. Things <strong>will</strong> be broken - please use them to explore the features and not for real work. Before installing beta software, <strong>always</strong> make sure you have a good backup of your Mac.</p>
    
    <p>The developer owns all rights, title and interest in the beta apps, including but not limited to intellectual property.
    To the extent permitted by law, you may not modify, reverse engineer, distribute, make copies of or otherwise reproduce any of the beta apps.</p>
    
    <p><strong>You acknowledge and agree that using beta quality software is done entirely at your own risk.</strong></p>
</div>
