---
layout: default
bodyClass: "page-app"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <!-- <div class="col-12 col-md-8"> -->
    <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
      <div class="app app-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">{{content}}</div>
      </div>
    </div>
    {% if page.intro_image %}
    <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
      <div class="row">
        <!-- <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" /> -->
        <div class="preview" style="background-image: url({{ page.intro_image_preview | relative_url }})">
          <!-- <video id="demo" muted controls loop style="opacity: 1;"> -->
          <video id="demo" controls loop style="opacity: 1;">
              <source src="{{ page.intro_image | relative_url }}" type="video/mp4">
              <p>Your browser does not support the video tag.</p>
          </video>
          <div class="play-curtain" id="play" style="display: none;">
            <div class="button">
              <svg width="47" height="57" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.666.83l36.998 23.316a5 5 0 010 8.46L7.666 55.922A5 5 0 010 51.692V5.06A5 5 0 017.666.83z" fill="#FFF" fill-rule="evenodd"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-none d-md-block">
        <div class="video-caption mt-2 col-12 text-center">
          <small><em>Right-click on video to watch it in Full Screen or resizable Picture-in-Picture</em></small>
        </div> 
      </div>
    </div>
    {% endif %}
  </div>
</div>
